<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | Havn</title>
    <link rel="stylesheet" href="/css/main.css">
    <% if (locals.stylesheet) { %>
        <link rel="stylesheet" href="/css/<%= stylesheet %>">
    <% } %>
    </head>

<body class="default-body">
    <header class="main-header">
        <nav class="nav-container">
            <div class="logo">
                <a href="/"><strong>HAVN</strong></a>
            </div>
            
            <ul class="nav-links">
                <li><a href="/properties/list">Properties</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/login">Login</a></li>
                <li class="auth-link"><a href="/register" class="btn-primary-sm">Join Havn</a></li>
                
                <!-- when logged in as a tenant
                <li><a>My Unit</a></li>
                
                when logged in as Manager
                <li><a>Maintenance Requests</a></li>

                when logged in as admin
                <li><a>Dashboard</a></li> -->
                
            </ul>
        </nav>
    </header>

  